{% extends 'app/BaseCode.html' %}
{% load static %}

{% block title %}
 All Blogs
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/blogs.css' %}">
{% endblock %}

{% block content %}

<section class="featured">
    <h2>All Posts</h2>
    <div class="blog-grid">
        {% for data in context %}
        <div class="blog-card">
            <img src="{{ data.featured_image.url }}" alt="{{ data.title }}">
            <div class="overlay">
                <span class="category">
                    {{ data.category }}
                </span>
                <h3>{{ data.title }}</h3>
                <p>{{ data.short_desc|truncatewords:15 }}</p>
                <a href="{% url 'blogindetails' data.id %}">Read More →</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}