{% extends 'app/BaseCode.html' %}
{% load static %}

{% block css %} 
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<section class="categories">
    <div class="category-container">

        {% for category in categories %}
        <a href="{% url 'category_bolg' category.id %}" class="category-item">
            {{ category }}
        </a>
        {% endfor %}
    </div>
</section>

<section class="hero">
    <div class="hero-content">
        <span class="badge">Welcome to BlogHub</span>
        <h1>Learn Programming With Simple Tutorials</h1>
        <p>Read blogs on Python, Django, JavaScript, HTML, CSS and more.</p>

        <div class="hero-buttons">
            <a href="{% url 'blogs' %}" class="btn">Explore Blogs</a>
            <a href="{% url 'blogs' %}" class="btn outline">Get Started</a>
        </div>
    </div>

    <div class="hero-image">
        <img src="https://picsum.photos/650/450" alt="Hero">
    </div>
</section>

<section class="featured">
    <h2>Featured Posts</h2>
    <div class="blog-grid">
        {% for data in blog %}
        <div class="blog-card">
            <img src="{{ data.featured_image.url }}" alt="{{ data.title }}">
            <div class="overlay">
                <span class="category">
                    {{ data.category }}
                </span>
                <h3>{{ data.title }}</h3>
                <p>{{ data.short_desc|truncatewords:15 }}</p>
                <a href="">Read More →</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="newsletter">
    <h2>Subscribe to Our Newsletter</h2>
    <p>Receive the latest programming tutorials every week.</p>

    <form>
        <input type="email" placeholder="Enter your email">
        <button type="submit">Subscribe</button>
    </form>
</section>
</main>
{% endblock %}


{% block footer %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
